
div#background1 {
  position:absolute;
  background: linear-gradient(to bottom right, #fff896, #ffa059);
  background-color: #E6D8AC;
  margin: 0px;
  opacity: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -8;
  transition: 0.7s;
}

div#background2 {
  position:absolute;
  background: linear-gradient(to bottom right, #060707, #E5E4E5);
  background-color: #060707;
  margin: 0px;
  opacity: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -9;
  transition: 0.7s;
}

div#background3 {
  position:absolute;
  background: linear-gradient(to bottom right, #FA4465, #D489D6);
  background-color: #FA4465;
  margin: 0px;
  opacity: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -10;
  transition: 0.7s;
}

#ghost-div {
  width: 750px;
  height: 650px;
}

#darker-span {
  filter: brightness(25%);
}

div.banner {
  font-family: "Work Sans", Arial;
  font-size: 56px;
  background-color: rgba(255,255,255,.7);
}

img.main1 {
  position: absolute;
  width: 125px;
  height: 125px;
  left: 12px;
  top: 150px;
  z-index: 2;
}

img.dark1 {
  position: absolute;
  width: 125px;
  height: 125px;
  left: 12px;
  top: 120px;
  z-index: 1;
}

img.main2 {
  position: absolute;
  width: 125px;
  height: 125px;
  left: 12px;
  top: 150px;
  z-index: 2;
}

img.dark2 {
  position: absolute;
  width: 125px;
  height: 125px;
  left: 12px;
  top: 120px;
  z-index: 1;
}

img.main3 {
  position: absolute;
  width: 125px;
  height: 125px;
  left: 12px;
  top: 150px;
  z-index: 2;
}

img.dark3 {
  position: absolute;
  width: 125px;
  height: 125px;
  left: 12px;
  top: 120px;
  z-index: 1;
}

div.head1 {
  font-family: "Work Sans", Arial;
  font-size: 56px;
  position: absolute;
  width: 750px;
  height: 700px;
  left: 800px;
  top: 150px;
}

div.head2 {
  font-family: "Work Sans", Arial;
  font-size: 32px;
  position: absolute;
  top: 100px;
  left: 0;
}

div.head3 {
  font-family: "Work Sans", Arial;
  font-size: 16px;
  position: absolute;
  bottom: 0px;
  left: 0;
}

#button1 {
  position: absolute;
  width: 150px;
  top: 120px;
  left: 0px;
  opacity: 1;
  background: linear-gradient(to bottom right, #fff896, #ffa059);
  transition: 0.2s;
}

#button1mouse {
  position: absolute;
  width: 150px;
  top: 120px;
  left: 0px;
  opacity: 0;
  z-index: 100;
  background: linear-gradient(to bottom right, #FFFFFF, #FFFFFF);
  transition: 0.2s;
}

#button1mouse:hover {
  cursor: pointer;
  opacity: 0.2;
}

#button2 {
  position: absolute;
  width: 150px;
  left: 0px;
  opacity: 1;
  background: linear-gradient(to bottom right, #060707, #E5E4E5);
  transition: 0.2s;
}

#button2mouse {
  position: absolute;
  width: 150px;
  left: 0px;
  opacity: 0;
  z-index: 100;
  background: linear-gradient(to bottom right, #FFFFFF, #FFFFFF);
  transition: 0.2s;
}

#button2mouse:hover {
  cursor: pointer;
  opacity: 0.2;
}

#button3 {
  position: absolute;
  width: 150px;
  left: 0px;
  opacity: 1;
  
  background: linear-gradient(to bottom right, #FA4465, #D489D6);
  transition: 0.2s;
}

#button3mouse {
  position: absolute;
  width: 150px;
  left: 0px;
  opacity: 0;
  z-index: 100;
  background: linear-gradient(to bottom right, #FFFFFF, #FFFFFF);
  transition: 0.2s;
}

#button3mouse:hover {
  cursor: pointer;
  opacity: 0.2;
}

p#social {
	position: absolute;
	top: 0px;
	right: 16px;
	text-align: right;
	font-family: "Work Sans";
	font-size: 24px;
}